body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  /* font-weight: bolder; */
  background-color: #fff;
  color: #262626;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Courgette', sans-serif;
  font-weight: bold;
  color: #DAA520;
  text-shadow: 1px 1px 0px rgb(51, 51, 51),-1px -1px 0px rgb(51, 51, 51);
}

/* ______________NAVBAR____________________ */
.navbar {
  background-color: #333; 
  border-bottom: 3px solid #A02C2C; 
}

.navbar>.container {
  align-items: flex-start;
}

.navbar .navbar-brand {
  color: #FDF4E3;
  font-family: 'Courgette', sans-serif;
  font-size: 1.4rem;
  text-shadow: 0px 0px 5px rgba(128, 0, 0, 1);
}

.navbar .navbar-brand .team-name {
  font-size: 1.1rem;
  font-family: 'Great Vibes', sans-serif;

}

.navbar .navbar-nav .nav-link {
  color: #FDF4E3;
  transition: color 0.5s;
}

/* Style for active nav link */
.navbar .navbar-nav .nav-link.active {
  color: #DAA520; 
  text-shadow: 0px 0px 4px #DAA520;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
  color: #DAA520; 
}

/* .navbar .navbar-nav .active .nav-link,
.navbar .navbar-nav .nav-link.active {
  color: #A02C2C; 
  border-bottom: 3px solid #A02C2C; 
} */


/* .navbar-toggler {
  border-color: #ff6600;
} */

/* Burger menu icon */
/* .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23ff6600' ... </svg>");
} */
/* ___________________________________________________________ */

/* Festive background colors for Christmas */
.bg-christmas {
  background-color: #A02C2C;
  color: #FDF4E3;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styles for each time section */
.time-section {
  display: inline-block;
  margin: 0 5px;
  text-align: center;
}

.label {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.music-player {
  margin-top: 20px;
}

.card-canvas {
  border: 2px solid #777777;
}

.overlay-container {
  position: relative;
  margin: auto;
}


/* ________________Music Player Footer____________________ */
.footer {
  background-color: #014421;
  padding: 10px;
  color: #FDF4E3;
}

/* Playlist modal at the bottom right */
.playlist-modal {
  position: fixed;
  bottom: 60px;
  right: 0px;
  width: 300px;
  background-color: rgba(211, 47, 47, 0.5);
  color: #FDF4E3;
  padding: 15px;
  display: none;
  z-index: 1050;
  overflow: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.playlist-content {
  background-color: rgba(11, 61, 46, .7);
  padding: 20px;
  border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

.close-modal {
  float: right;
  cursor: pointer;
}

.current-song {
  font-family: 'Courgette', sans-serif;
  font-size: 1.1rem;
  color: #FDF4E3;
  text-transform: capitalize;
  letter-spacing: .2rem;
  margin: 10px 0;
}

.form-range {
  width: 90%;
}

#play-pause.rounded-circle {
  border-radius: 50%;
  padding: 0.5rem 0.8rem;
}

#volume-control {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0 10px;
}

.volume-icon {
  color: #FDF4E3;
}

#playlist-list li {
  color: #FDF4E3;
  cursor: pointer;
  padding: 5px 0;  
}

#prev-song,
#play-pause,
#next-song {
  background-color: #A02C2C;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);  
}

.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.form-range::-webkit-slider-thumb {
  background-color: #A02C2C; 
}

.form-range::-moz-range-thumb {
  background-color: #A02C2C;
} 

.footer .btn-secondary {
  background-color: #A02C2C; 
  border: none; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
}
/* ________________End Music Player Footer____________________ */

.grid-container {
  position: relative;
  width: 100vw;
  height: 10vh;
}

#rear_image_wrapper {
  background: url('../images/rear_image.png') no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
  z-index: 1;
}

#between_wrapper {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#front_image_wrapper {
  background: url('../images/front_image.png') no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
  z-index: 3;
}

.navbar .navbar-brand {
  position: absolute;
  left: 10rem;
  transform: translateX(-50%);
}

/* -------------------------------- COUNTDOWN TIMER */
.countdown-wrapper {
position: relative;
}

.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .4rem;
  flex-wrap: wrap;

  padding: 1em;
  margin: auto;

  background-color: rgba(38, 38, 38, 0.8);
  max-width: 5rem;

  margin-top: 1rem;
  position: absolute;
  right: 2.3em;
  z-index: 10;
}

.countdown-item {
  color: #FDF4E3;
  padding-inline: 1em;
  flex: 1;
  border-bottom: 1px solid rgba(253, 244, 227, 0.3);
  text-shadow: 0px 0px 3px #DAA520;

}

.count-time {
  font-size: 1.2em;
  font-weight: bold;
  padding-top: .5em;
}
/* -------------------------------- END COUNTDOWN TIMER */

/* -------------------------------- HELP PAGE (FAQ) */
.faq-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #0B3D2E;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 12px;
  border: 1px solid #DAA520;
  transition: transform 0.3s ease-in-out;

  z-index: 1100;
}

.faq-button:hover {
  transform: scale(1.1);
}

/* .faq-title {
  font-size: 1.2rem;
  color: #0B3D2E;
  font-weight: 700;
} */

.faq-close-btn {
  background-color: #A02C2C;
  color: #FDF4E3;
}

.faq-close-btn:hover {
  background-color: #a44646;
}

.faq-content {
  background: linear-gradient(90deg, rgba(253, 244, 227, .65) 0%, #FDF4E3 50%, rgba(253, 244, 227, .65) 100%);
  font-size: .9rem;
  padding-inline: 1em;
}

.text-accent {
  font-family: 'Great Vibes', sans-serif;
  font-size: 1.4rem;
}

.faq-body {
  border: 2px solid #A02C2C;
  border-radius: .5rem;
  box-shadow: 0px 1px 5px 1px #c65b5b;
}
/* -------------------------------- END HELP PAGE (FAQ) */

/* -------------------------------- CARD GENERATOR */
.custom_style_h1
{
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  text-shadow: 2px 2px 2px #000;

}
/* Carousel Styling */
.carousel-caption {
background: rgba(0, 0, 0, 0.5);
border-radius: 10px;
}
.carousel
{
width: 50vw;
height: 50vh;
margin: auto;}


.custom_adjust_canvas

{
  width: 50vw;
  height: 50vh;
  margin: auto;

}
.carousel-item img {
height: 50vh;
object-fit: cover;
}

/* Card Creation Form Styling */
#cardForm label {
font-weight: bold;
}

#cardForm input, #cardForm select {
width: 30%;
margin: auto;
padding: 5px;
border-radius: 5px;
border: 1px solid #ccc;
}

/* Button Styling */
.btn {
margin: 10px;
font-weight: bold;
}
/* -------------------------------- END CARD GENERATOR */

/* -------------------------------- ABOUT PAGE */
.about-container {    
  padding: 12rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;

  position: relative;
}

.team-member {
  flex: 1;
  padding: 1em .1em;
}

.team-member-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 1px solid #A02C2C;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FDF4E3;
  border-radius: .5rem;
}

figure i {
  font-size: 1.8rem;
  color: #0B3D2E;
  margin: 0 0.5rem;
}

figure p {
  font-size: 1.2rem;
  color: #0B3D2E;
  margin: 0.5rem 0;
}

figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-intro {
  margin-top: 2em;
  margin-inline: auto;
  padding: 1em;
  color: #FDF4E3;
  text-shadow: 0px 0px 3px #b1d61d;
  width: 70%;
  background-color: rgba(11, 61, 46, .7);
  border-radius: .5rem;
}

@media (max-width: 600px) {
  .about-intro {
    width: 90%;
  }
}
/* -------------------------------- END ABOUT PAGE */



